.about-heading {
    font-weight: bold;
    font-size: 28px;
    font-family: "Roboto";
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}